
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>@ViewData["Title"] - Innerglow_App</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <!-- Google Fonts Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    @* <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" /> *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Innerglow_App.styles.css" asp-append-version="true" />
    <link href="~/css/main.css" rel="stylesheet" />
    
</head>
<body class="bottom-0 m-0">
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">

            <a href="index.html" class="logo d-flex align-items-center me-auto">
                <img src="~/images/logo_w_text.png" alt="">
            </a>

            <nav id="navmenu" class="navmenu">
                @* <ul>
                    <li><a href="index.html#hero" class="active">Home</a></li>
                    <li><a href="index.html#about">About</a></li>
                    <li><a href="index.html#features">Features</a></li>
                    <li><a href="index.html#services">Services</a></li>
                    <li><a href="index.html#pricing">Pricing</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="#">Dropdown 1</a></li>
                            <li class="dropdown">
                                <a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a href="#">Deep Dropdown 1</a></li>
                                    <li><a href="#">Deep Dropdown 2</a></li>
                                    <li><a href="#">Deep Dropdown 3</a></li>
                                    <li><a href="#">Deep Dropdown 4</a></li>
                                    <li><a href="#">Deep Dropdown 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Dropdown 2</a></li>
                            <li><a href="#">Dropdown 3</a></li>
                            <li><a href="#">Dropdown 4</a></li>
                        </ul>
                    </li>
                    <li><a href="index.html#contact">Contact</a></li>
                </ul> *@
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="btn-getstarted" href="index.html#about">Login</a>

        </div>
    </header>
<header>
  <!-- Jumbotron -->
  <div class="p-3 text-center bg-white border-bottom">
    <div class="container">
      <div class="row gy-3">
        <!-- Left elements -->
        <div class="col-lg-2 col-sm-4 col-4">
            <a class="float-start" asp-area=" " asp-controller="Home" asp-action="Index" >
            <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="35" />
          </a>

          
        </div>
        <!-- Left elements -->

        <!-- Center elements -->
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
            
          <div class="d-flex float-end">
            <partial name="_LoginPartial" />
          </div>
        </div>
        
        <!-- Center elements -->

        <!-- Right elements -->
        
        <div class="col-lg-5 col-md-12 col-12">
           @* <form asp-controller="Home" asp-action="Index" >
          <div class="input-group float-center">
            <label class="visually-hidden" for="CategoryID">Categories</label>
            <select class="form-select px-2" id="CategoryID" name="CategoryID">
                <option selected>Choose...</option>
                @foreach (var category in Model.Categories)
                {
                    <option selected="@(category.Id == Model.CategoryID)" value="@category.Id">@category.CategoryName</option>
                }
            </select>
            <div class="form-outline px-2">
              
              <input type="search" id="Search" value="@Model.Search" class="form-control" name="Search"/>
              <label class="visually-hidden" for="Search">Tìm kiếm</label> 
            </div>
            <button type="submit" class="btn btn-primary shadow-0">
              <i class="fas fa-search"></i>
            </button>
            <a href="/Home/Index" class="btn btn-light shadow-0">
                <i class="fas fa-reply-all"></i>
            </a>
          </div>
          </form> *@@* <div class="input-group-text"></div> *@
        </div>
        <!-- Right elements -->
      </div>
    </div>
  </div>
  <!-- Jumbotron -->

  <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
    <!-- Container wrapper -->
     <div class="container justify-content-center justify-content-md-between" >
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarLeftAlignExample" aria-controls="navbarLeftAlignExample" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-dark" href="/UserOrder/UserOrders">Đơn hàng</a>
          </li>
          @* <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Sản phẩm</a>
          </li>
          <!-- Navbar dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              Quản lý
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#">Action</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another action</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li> *@
        </ul>
        <!-- Left links -->
      </div>
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>

@RenderBody()


  <!-- Footer -->
    <footer class="text-center text-white mt-auto mt-auto " style="background-color:rgb(13 110 253);">
    <!-- Grid container -->
    <div class="container p-3 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
            @if (User.Identity.IsAuthenticated)
            {
                <button id="login" asp-area="Identity" asp-page="/Account/Login" data-mdb-ripple-init type="button" class="btn btn-outline-light btn-rounded">
                Đăng xuất!
                </button>
            }
            else
            {
                <span class="me-3">Đăng nhập để mua sản phẩm</span>
                <button id="login" asp-area="Identity" asp-page="/Account/Login" data-mdb-ripple-init type="button" class="btn btn-outline-light btn-rounded">
                Đăng nhập!
                </button>
                
            }
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      Góp ý phản hồi về web:
      <a class="text-white" href=""> tại đây</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<script>
    loadCartCount();
    async function loadCartCount() {
        try {
            var response = await fetch(`/Cart/GetTotalItem`);
            console.log(response)
            if (response.status == 200) {
                var result = await response.json();
                var cartCountEl = document.getElementById("cartCount");
                cartCountEl.innerHTML = result;
            }
        }
        catch (err) {
            console.log(err);
        }
    }
    
</script>
</html>
