@model PagedList.Core.IPagedList<Sang3_Nhom2_WebBanThucPhamChucNang.Models.Product>
@using PagedList.Core.Mvc;

@{
    ViewData["Title"] = "Index";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Product</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Index</li>
    </ol>
</nav>

<h2>Products</h2>

<p>
    <a class="btn btn-primary mb-4" asp-action="Add">Create New</a>
</p>

<select class="form-control" id="categoryId" name="categoryId" style="max-width: 180px" asp-items="@ViewBag.Categories">
    <option disabled selected>Categories</option>
    <option value="0">All</option>
</select>

<table class="table">
    <thead>
        <tr class="text-center">
            <th>
                ProductName
            </th>
            <th>
                Description
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Category
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Display" asp-route-id="@item.Id">View</a>
                    <a class="btn btn-warning" asp-action="Update" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <pager list="@Model" asp-area="Admin" asp-controller="ProductAdmin" asp-route-CategoryID="@ViewBag.CurrentCate" asp-action="Index" />
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            jQuery("#categoryId").change(function () {
                var categoryID = jQuery(this).children(":selected").attr("value");
                categoryID = parseFloat(categoryID);
                $('#categoryId option').removeAttr('selected');
                $("#categoryId > [value = " + categoryID + "]").attr("selected", "true");
                $.ajax({
                    url: '/Admin/ProductAdmin/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        CategoryID: categoryID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('Error');
                    }
                });
            });
        });
    </script>
}