@model IEnumerable<Order>

@{
    ViewData["Title"] = "Index";
    double total = 0;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" asp-action="Index">Order</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Index</li>
    </ol>
</nav>

<h2>Orders</h2>

<div style="display: flex; justify-content: space-between">
    <select class="form-control" id="categoryId" name="OrderStatusId" style="max-width: 180px" asp-items="@ViewBag.OrderStatusId">
        <option disabled selected>Status</option>
        <option value="0">All</option>
    </select>
</div>

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <tr>
            <th>OrderDate</th>
            <th>OrderStatus</th>
            <th></th>
        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderDate.ToString("dd-MM-yyyy")</td>
                <td>@order.OrderStatus.StatusName</td>

                <td><a class="btn btn-warning" asp-action="Update" asp-route-id="@order.Id">Update</a></td>

            </tr>
            @if (order.OrderDetail != null && order.OrderDetail.Count > 0)
            {
                <tr>
                    <td>
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    Total:
                                </td>
                                <td>
                                    @(order.OrderDetail.Select(item => item.Product.Price * item.Quantity).Sum())
                                </td>
                            </tr>
                            <tr>
                                <th>Product</th>
                                <th>Image</th>
                                <th>Genre</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                            </tr>
                            @foreach (var item in order.OrderDetail)
                            {
                                <tr>
                                    <td>@item.Product.ProductName</td>
                                    <td>
                                        @if (string.IsNullOrEmpty(item.Product.Img_Url))
                                        {
                                            <img src="/images/NoImage.png" style="width:80px;height:100px" />
                                        }
                                        else
                                        {
                                            <img src="/images/@item.Product.Img_Url" style="width:80px;height:100px" />
                                        }
                                    </td>
                                    <td>@item.Product.Category.CategoryName</td>
                                    <td>@item.Product.Price X @item.Quantity</td>
                                    <td> @(item.Product.Price * item.Quantity) </td>
                                </tr>
                            }

                        </table>
                    </td>
                </tr>
            }
        }
    </table>

}
else
{
    <h5>Order is empty</h5>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            jQuery("#categoryId").change(function () {
                var categoryID = jQuery(this).children(":selected").attr("value");
                categoryID = parseFloat(categoryID);
                $('#categoryId option').removeAttr('selected');
                $("#categoryId > [value = " + categoryID + "]").attr("selected", "true");
                $.ajax({
                    url: '/Admin/OrderAdmin/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        CategoryID: categoryID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('Error');
                    }
                });
            });
        });
    </script>
}