@model ShoppingCart
@{
    ViewData["Title"] = "GetUserCart";
}


@if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
{
<main class="page">
    <section class="shopping-cart dark">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">
                                @foreach (var item in Model.CartDetails)
                                {
                                    <div class="product">
                                        <div class="row">
                                            <div class="col-md-3">
                                                @if (string.IsNullOrEmpty(item.Product.Img_Url))
                                                {
                                                    <img src="/images/NoImage.png" class="img-fluid mx-auto d-block image" style="width:80px;height:100px" />
                                                }
                                                else
                                                {
                                                    <img src="/images/@item.Product.Img_Url" class="img-fluid mx-auto d-block image" style="width:80px;height:100px" />
                                                }
                                                
                                            </div>
                                            <div class="col-md-8">
                                                <div class="info">
                                                    <div class="row">
                                                        <div class="col-md-5 product-name">
                                                            <div class="product-name">
                                                                <a href="#">@item.Product.ProductName</a>
                                                                <div class="product-info">
                                                                    <div>Loại: <span class="value">@item.Product.Category.CategoryName</span></div>
                                                                    <td>@item.Product.Price X @item.Quantity VND</td>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 quantity">
                                                            <a class="btn btn-info" href="/Cart/AddItem?ProductId=@item.ProductId&&redirect=1">+</a>
                                                            <a class="btn btn-info" href="/Cart/RemoveItem?ProductId=@item.ProductId">-</a>
                                                        </div>
                                                        <div class="col-md-3 price">
                                                            <span><td>@(item.Product.Price * item.Quantity) VND</td></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Hóa đơn</h3>
                            <div class="summary-item"><span class="text">Tổng phụ</span><span class="price">@(Model.CartDetails.Select(item => item.Product.Price * item.Quantity).Sum()) VND</span></div>
                            <div class="summary-item"><span class="text">Giảm giá</span><span class="price">0 VND</span></div>
                            <div class="summary-item"><span class="text">Vận chuyển</span><span class="price">0 VND</span></div>
                            <div class="summary-item"><span class="text">Tổng</span><span class="price">@(Model.CartDetails.Select(item => item.Product.Price * item.Quantity).Sum()) VND</span></div>

                            <a style="color:black;text-decoration:none;" class="btn btn-primary btn-lg btn-block" asp-action="ConfirmPaymentClient">Thanh toán</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
}
else
{
    <main class="page">
    <section class="shopping-cart dark">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">
                                <h5>Bạn chưa đặt đơn hàng nào</h5>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </main>
}

