@model IEnumerable<Order>

@{
    ViewData["Title"] = "GetUserCart";
}

@if (Model != null && Model.Count() > 0)
{
    <section class="h-100 gradient-custom" style="background-color:white;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-8">
                    <div class="card" style="border-radius: 10px;">
                        <div class="card-header px-4 py-5">
                            <h5 class="text-muted mb-0" style="color:#228b22;">Cám ơn đã đặt hàng!</h5>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0" style="color: #228b22;">Đơn hàng</p>
                            </div>
                        </div>
                        @foreach (var order in Model.Reverse())
                        {
                            @if (order.OrderDetail != null && order.OrderDetail.Count > 0)
                            {
                                <div class="card-body p-4 mt-2">
                                    <div class="card shadow-0 border mb-4">
                                        <div class="card-body">
                                    @foreach (var item in order.OrderDetail)
                                    {
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        @if (string.IsNullOrEmpty(item.Product.Img_Url))
                                                        {
                                                            <img src="/images/NoImage.png" class="img-fluid" alt="image error" />
                                                        }
                                                        else
                                                        {
                                                            <img src="/images/@item.Product.Img_Url" class="img-fluid" alt="image error" />
                                                        }
                                                    </div>
                                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0">@item.Product.ProductName</p>
                                                    </div>
                                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0 small">Loại: @item.Product.Category.CategoryName</p>
                                                    </div>
                                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0 small">Đơn giá: @item.Product.Price đ</p>
                                                    </div>
                                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0 small">Số lượng: @item.Quantity</p>
                                                    </div>
                                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0 small">@(order.OrderDetail.Select(item => item.Product.Discount * item.Quantity).Sum())đ</p>
                                                    </div>
                                                </div>
                                                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                                }
                                                <div class="row d-flex align-items-center">
                                                    <div class="col-md-2">
                                                        <p class="text-muted mb-0 small">Ngày đặt hàng</p>
                                                        <p class="text-muted mb-0 small">@order.OrderDate.ToString("dd-MM-yyyy")</p>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <div class="progress" style="height: 6px; border-radius: 16px;">
                                                            <div id="progress-bar-@order.Id-@order.OrderStatus.Id" class="progress-bar" role="progressbar"
                                                             style="border-radius: 16px; background-color: #228b22" aria-valuenow="0"
                                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                        <div class="d-flex justify-content-around mb-1">
                                                            @if (order.OrderStatus.Id !=3)
                                                            {
                                                                <p class="text-muted mt-1 mb-0 small ms-xl-5">@order.OrderStatus.StatusName</p>
                                                            }
                                                            <p class="text-muted mt-1 mb-0 small ms-xl-5">Đã giao hàng</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="d-flex justify-content-between pt-2">
                                        <p class="fw-bold mb-0">Chi tiết đơn hàng</p>
                                        <p class="text-muted mb-0"><span class="fw-bold me-4">Tổng: </span> @(order.OrderDetail.Sum(item => item.Product.Discount * item.Quantity))đ</p>
                                    </div>
                                    <div class="d-flex justify-content-between pt-2">
                                        <p class="text-muted mb-0">Mã số đơn: </p>
                                        <p class="text-muted mb-0"><span class="fw-bold me-4">Đã giảm: </span>@(order.OrderDetail.Sum(item => item.Product.Price * item.Quantity) - order.OrderDetail.Sum(item => item.Product.Discount * item.Quantity))đ</p>
                                    </div>
                                </div>
                                <div class="card-footer border-0 px-4 py-5" style="background-color:#228b22;border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                    <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">
                                        Tổng tiền trả: <span class="h2 mb-0 ms-2">@(order.OrderDetail.Sum(item => item.Product.Discount * item.Quantity))đ</span>
                                    </h5>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="h-100 gradient-custom m-auto" style="background-color:white;">
        <h5>Bạn chưa có đơn hàng nào</h5>
    </section>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Function to update progress bar based on status ID
        function updateProgressBar(orderId, statusId) {
            var progressBar = document.getElementById('progress-bar-' + orderId + '-' + statusId);
            if (!progressBar) return;

            let progressValue;
            switch (statusId) {
                case 1:
                    progressValue = 33;
                    break;
                case 2:
                    progressValue = 66;
                    break;
                case 3:
                    progressValue = 100;
                    break;
                default:
                    progressValue = 0;
            }
            progressBar.style.width = progressValue + '%';
            progressBar.setAttribute('aria-valuenow', progressValue);
        }

        // Iterate over each order and update the progress bar
    @foreach (var order in Model)
    {
        <text>updateProgressBar(@order.Id, @order.OrderStatus.Id); </text>
    }
        });
</script>
