@model             Product


<section class="py-5">
    <section class="py-5">
        <div class="container">
            <div class="row gx-5">
                <aside class="col-lg-6">
                    <div class="border rounded-4 mb-3 d-flex justify-content-center">
                        <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" >
                            <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="/images/@Model.Img_Url">
                        </a>
                    </div>
                    <div class="d-flex justify-content-center mb-3">
                        @foreach (var url in Model.Img_Urls)
                        {
                            <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image">
                                <img width="60" height="60" class="rounded-2" src="/images/@url.ToString()">
                            </a>
                        }
                    </div>
                    <!-- thumbs-wrap.// -->
                    <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-lg-6">
                    <div class="ps-lg-3">
                        <h4 class="title text-dark">
                            @Model.ProductName
                        </h4>

                        <div class="mb-3">
                            <span class="h5"><del>@Model.Price VND</del> <span class="text-danger">SALE</span> - @(100 - (((float)Model.Discount / (float)Model.Price) * 100))%</span>
                            <br/>
                            <h4 class="h5 text-success">@Model.Discount VND</h4>
                        </div>
                        <div class="row">
                            <h6 class="col-3">Loại sản phẩm: @Model.Category.CategoryName</h6>
                        </div>
                        <p>
                            @Html.Raw(Model.Description)
                        </p>
                        <a class="btn btn-warning shadow-0 text-white" asp-action="Index">Quay lại</a>
                        <button onclick="add(@Model.Id)" class="btn btn-success shadow-0 me-1"><i class="bi bi-bag-plus"></i> Vào giỏ</button>
                        <hr>
                        <p>@Html.Raw(Model.DetailProduct)</p>
                        
                    </div>
                </main>

            </div>
        </div>
    </section>
    <section id="featured-services" class="featured-services">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up">
                    <div class="icon flex-shrink-0"><i class="bi bi-check-circle"></i></div>
                    <div>
                        <h4 class="title">Đảm bảo chính hãng</h4>
                        <p class="description">Chúng tôi cam kết tất cả sản phẩm đều là hàng chính hãng, được kiểm tra và chứng nhận từ các nhà cung cấp uy tín.</p>
                         
                    </div>
                </div>
                <!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon flex-shrink-0"><i class="bi bi-truck"></i></div>
                    <div>
                        <h4 class="title">Giao hàng nhanh</h4>
                        <p class="description">Dịch vụ giao hàng nhanh chóng, đảm bảo sản phẩm đến tay bạn trong thời gian ngắn nhất, an toàn và đúng hẹn.</p>
                         
                    </div>
                </div><!-- End Service Item -->

                <div class="col-lg-4 col-md-6 service-item d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon flex-shrink-0"><i class="bi bi-hand-thumbs-up"></i></div>
                    <div>
                        <h4 class="title">Sản phẩm chọn lọc</h4>
                        <p class="description">Mỗi sản phẩm đều được chọn lọc kỹ lưỡng, đảm bảo chất lượng cao và đáp ứng các tiêu chuẩn khắt khe nhất.</p>
                         
                    </div>
                </div><!-- End Service Item -->

            </div>

        </div>
    </section>
</section>
@section Scripts
{
    <script>
        async function add(ProductId) {
            var usernameEl = document.getElementById("manage");
            if (usernameEl == null) {
                window.location.href = "/Identity/Account/Login";
                //var username=usernameEl.innerText;
                //  if(username.length<1){
                //      window.location.href="/Identity/Account/Login";
                //  }
            }
            try {
                var response = await fetch(`/Cart/AddItem?ProductId=${ProductId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "#cartCount";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}